body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A7E0E0;
    color: #4AA3A2;
}

.header {
    background-color: #DB6A8F;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #E8AABE;
}

.section {
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
    margin-right: 20px;
}

.about-image img {
    border-radius: 50%;
    max-width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #E8AABE;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s;
}

.project img {
    border-radius: 10px;
    max-width: 100%;
}

.project:hover {
    transform: scale(1.05);
}

.video-container {
    text-align: center;
    margin: 20px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4AA3A2;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form input[type="submit"] {
    background-color: #CA3C66;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: #DB6A8F;
}

.footer {
    background-color: #4AA3A2;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.skills-table td {
    padding: 10px;
    border-bottom: 1px solid #4AA3A2;
    display: flex;
    align-items: center;
}

.skill-icon {
    width: 30px; /* Ajustez la taille de l'icône ici */
    height: auto;
    margin-right: 10px; /* Espace entre l'icône et le texte */
}
